:root {
  // fonts variables
  --primary-font: Titan One;
  --secondary-font: DM Sans;
  --reserve-font: sans-serif;
  // color variables
  --ice-cream-color: #ffb8ca;
  --ice-coffee-color: #f0d1a5;
  --milkshakes-color: #c2e297;
  --primary-background-color: #ffffff;
  --secondary-background-color: #fff5f6;

  --mobile-menu-bg: #e17992;

  --customer-reviews-background-color: #fafafa;

  --title-text-color: #d41443;
  --secondary-text-color: #ffffff;
  --product-text-color: #ffa5ba;
  --dark-text-color: #000000;
  --gray-text-color: #907e82;

  --button-hover-primary: #c7133e;
  --button-hover-secondary: #ecebeb;

  --time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
