<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden" id="h-i-m">advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-item">
                <h3 class="glass">721</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <h3 class="apple">16kg</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <h3 class="candy">84</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>
