<section class="customer-reviews">
    <div class="customer-container">
        <h2 class="visually-hidden">Customer-reviews</h2>
        <picture>
            <source
               srcset="./images/client-images/client-1-all.png 1x, ./images/client-images/client-1-all@2x.png 2x">
            <img class="customer-reviews-img" src="./images/client-images/client-1-all.png" alt="фото девушки">
        </picture>
        <div class="customer-reviews-wrapper-p">

            <p class="customer-reviews-review">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In hendrerit nulla quam
                nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <p class="customer-data">Emily, Los Angeles</p>
        <ul class="customer-reviews-list list">
            <li class="customer-reviews-item">
                <a class="customer-reviews-link" href="">
                    <svg class="customer-reviews-list-icon" height="12" width="12">
                        <use href="./images/svg/sprite.svg#icon-home"></use>
                    </svg>
                </a></li>
            <li class="customer-reviews-item"><a class="customer-reviews-link-radius" href="">
                </a></li>
            <li class="customer-reviews-item"><a class="customer-reviews-link-radius" href="">
                </a></li>
            </ul>
    </div>
</section>

