<footer class=" container-footer">
    <div class="container">
    <div class="footer-content">
<div class="footer-block">
    <b class="footer-subtitle">homemade ice cream made</b>
    <b class="footer-logo">with passion</b>
</div>
   <div class="footer-social">      
   <ul class="footer-social-list ">
      
       <li class="footer-social-list-item footer-social">
           <a href="https://github.com/" rel="external" class="footer-social-list-link social-link-footer transition">
               <svg class="footer-social-list-icon footer-icon">
                 <use href="./images/svg/sprite.svg#icon-github"></use>
               </svg>
           </a>
       </li>
       <li class="footer-social-list-item footer-social">
           <a href="https://web.telegram.org/" rel="external" class="link-main footer-social-list-link social-link-footer transition">
               <svg class="footer-social-list-icon footer-icon">
                 <use href="./images/svg/sprite.svg#icon-telegram"></use>
               </svg>
           </a>
       </li>
       <li class="footer-social-list-item footer-social">
           <a href="https://www.facebook.com" rel="external" class="footer-social-list-link social-link-footer transition">
               <svg class="footer-social-list-icon footer-icon">
                 <use href="./images/svg/sprite.svg#icon-facebook"></use>
               </svg>
           </a>
       </li>
   </ul>

   <span class="address-footer">Feel free to contact &nbsp; <a class="address-footer-link" href="tel:+61 (0) 383 766 284" > +61 (0) 383 766 284 </a> </span>
   </div>
</div>

   <div class="border-footer"></div>
   <span class="footer-copyright">© 2019 - IceCream.
    All Rights Reserved. </span>
</div>

</footer>
<script type="text/javascript">
    /* <![CDATA[ */
     function externalLinks() {
      links = document.getElementsByTagName("a");
      for (i=0; i<links.length; i++) {
        link = links[i];
        if (link.getAttribute("href") && link.getAttribute("rel") == "external")
        link.target = "_blank";
      }
     }
     window.onload = externalLinks;
    /* ]]> */ 
   </script>