<section class="gallery">
    <div class="gallery-container">
        <h2 class="visually-hidden">Gallery</h2>
        <picture>     
                <source srcset="./images/gallery/kollage-desktop.png 1x, ./images/gallery/kollage-desktop@2x.png 2x" media="(min-width: 1200px)">       
                <source srcset="./images/gallery/kollage-tablet.png 1x, ./images/gallery/kollage-tablet@2x.png 2x" media="(min-width: 768px)">       
                <source srcset="./images/gallery/kollage-mobile.png 1x, ./images/gallery/kollage-mobile@2x.png 2x" media="(min-width: 320px)">   
            <img class="gallery-img" src="./images/Gallery/kollage-mobile.png" alt="коллаж из картинок">
        </picture>
    </div>
</section>


