<section class="header-hero">
  <div class="header-container">
    <header>
      <div class="topline">
        <a class="logo-header" id="home" href="">
          <img
            class="logo"
            alt="logotype"
            src="./images/logo/logo-mobile.png"
            srcset="./images/logo/logo-mobile@2x.png 2x"
          />
        </a>

        <button type="button" class="menu_button" data-menu-button>
          <svg class="icon-burger" width="20" height="12">
            <use
              class="icon-menu"
              href="./images/svg/sprite.svg#icon-burger"
            ></use>
          </svg>
        </button>

        <ul class="nav_list list">
          <li class="nav_item">
            <a class="nav_link link current" href="#home">Home</a>
          </li>
          <li class="nav_item">
            <a class="nav_link link" href="#about">About us</a>
          </li>
          <li class="nav_item">
            <a class="nav_link link" href="#h-i-m">How it’s made?</a>
          </li>
          <li class="nav_item">
            <a class="nav_link link" href="#products">Our products</a>
          </li>
          <li class="nav_item">
            <a class="nav_link link" href="#contacts">Contact</a>
          </li>
        </ul>

        <button type="button" class="btn-buy">
          Buy now
          <svg class="icon-buy" width="4px" height="8px">
            <use href="./images/svg/sprite.svg#icon-vector"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-menu" data-menu>
        <button type="button" class="btn_close" data-menu-close>
          <svg class="icon-close" width="30" height="30">
            <use
              class="icon-close"
              href="./images/svg/sprite.svg#icon-close"
            ></use>
          </svg>
        </button>

        <button data-modal-open type="button" class="mobile-btn-buy">
          Buy now
          <svg class="icon-buy" width="4px" height="8px">
            <use href="./images/svg/sprite.svg#icon-vector"></use>
          </svg>
        </button>

        <ul class="mobile-nav_list list">
          <li class="mobile-nav_item">
            <a class="mobile-nav_link link current" href="#home">Home</a>
          </li>
          <li class="mobile-nav_item">
            <a class="mobile-nav_link link" href="#about">About us</a>
          </li>
          <li class="mobile-nav_item">
            <a class="mobile-nav_link link" href="#h-i-m">How it’s made?</a>
          </li>
          <li class="mobile-nav_item">
            <a class="mobile-nav_link link" href="#products">Our products</a>
          </li>
          <li class="mobile-nav_item">
            <a class="mobile-nav_link link" href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </header>

    <div class="hero">
      <div class="box-left">
        <div class="headline">
          <h1 class="headline-title animate__animated animate__bounceInDown">
            ice cream<br />made with <br />
            <span class="headline-title-secondary">passion</span>
          </h1>
          <ul
            class="headline-buttons animate__animated animate__bounceInDown list"
          >
            <li class="button-items">
              <a class="buttons-first btn-hero link" href="#products"
                >Products</a
              >
            </li>
            <li class="button-items">
              <a class="buttons-second btn-hero link" href="#h-i-m"
                >How it’s made?</a
              >
            </li>
          </ul>

          <div class="headline-bottom">
            <picture>
              <source
                srcset="
                  ./images/hero-header/milk-desktop.png    1x,
                  ./images/hero-header/milk-desktop@2x.png 2x
                "
                media="(min-width:
            1200px)"
              />
              <source
                srcset="
                  ./images/hero-header/milk-tablet.png    1x,
                  ./images/hero-header/milk-tablet@2x.png 2x
                "
                media="(min-width:
            768px)"
              />

              <img
                class="img-milk"
                src="./images/hero-header/milk-tablet.png"
                alt="milk pluh-pluh"
              />
            </picture>

            <div class="headline-bottom-secondary">
              <p class="headline-bottom-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>

              <button class="run-to" type="button">
                <svg class="icon-hero" width="26px" height="26px">
                  <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="box-center">
        <picture>
          <source
            srcset="
              ./images/hero-header/cone-desktop.png    1x,
              ./images/hero-header/cone-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero-header/cone-tablet.png    1x,
              ./images/hero-header/cone-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-header/cone-mobile.png    1x,
              ./images/hero-header/cone-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="hero-icecream"
            src="./images/hero-header/cone-mobile.png"
            alt="big icecream"
          />
        </picture>
      </div>
      <div class="box-right">
        <ul class="points-list list">
          <li class="first-list">
            <p class="points-item-qty">16</p>
            <p class="points-item">cafes</p>
          </li>

          <li class="second-list">
            <p class="points-item-qty">23</p>
            <p class="points-item">food trucks</p>
          </li>
        </ul>

        <picture>
          <source
            srcset="
              ./images/hero-header/girl-desktop.png    1x,
              ./images/hero-header/girl-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero-header/girl-tablet.png    1x,
              ./images/hero-header/girl-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="./images/hero-header/girl-tablet.png"
            alt="girl eating icecream"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
