<div class="backdrop is-hidden" data-modal-icecream>
    <div class="modal-icecream">
      <button type="button" data-modal-icecream-close class="modal-close">
        <svg class="icon-close" width="30" height="30">
          <use class="icon-close" href="./images/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
    <div>
        <img class="modal-image" src="./images/Products/ice-cream-mobile@2x.png" alt="arrow-right">

        <h3 class="products-title products-name modal-name">
            ice cream
        </h3>
        <p class="product-text modal-text">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. 
        </p>
         <!-- <a  class="products-link" href="#" data-modal-icecream-open>
           <svg class="icon-arrow-right">
             <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
          </svg> -->
         
         <!-- </a> -->
     

    </div>

    </div>
  </div>